@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT-Sants";
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color: #F2F2F2;

}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756257;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}


/*Шапка*/
.page-header {
  color: #000000;
  background-color: #fbf7f4;
}
/*навигация*/
.navigation-link {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #fbf7f4;
  text-decoration: none;
  text-transform: none;
}

/**/
.main-index {
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.welcome-page{
  background-image: url("/images/index-background.jpg");
}

/*блог информации*/
.info {
  text-align: center;
  text-decoration: none;
}

.info-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 36px;
}
.info-description {
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
}

.advantages-list {
  text-align: center;
  background-color: #83b3d3;
  color: #ffffff;
  text-decoration: none;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

/*блог сервиса*/
.services-list {
  text-align: center;
  background-color: #83b3d31f;
  color: #000000;
  text-decoration: none;
}
.services-list li:nth-child(2){
  background-color: #ffffff;
}
.services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

/**/
.info-email{
    color:#ffffff;
    background-color: black;
    background-image: url("/images/background-footer.jpg");
    text-align: center;
}
.info-email-title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.info-email-description{
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
}


